# Network RPC URLs
HYPEREVM_TESTNET_RPC=
HYPEREVM_RPC=

# Contract addresses
POOL_ADDRESSES_PROVIDER=
MULTIHOP_ROUTER_ADDRESS=
BASE_LIQUIDSWAP_BUY_ADAPTER_ADDRESS=
OWNER_ADDRESS=

# Etherscan API key for verification
SOURCIFY_URL=
